device:
  model: rock4c+
  commands:
    - name: virtual-switch

    - name: lcd16x2
      config:
        lcd_rs: 25
        lcd_en: 24
        lcd_d4: 23
        lcd_d5: 17
        lcd_d6: 18
        lcd_d7: 22
        lcd_backlight: 4

  sensors:
    - name: dht11


mqtt:
  url: mqtt.mosquitto.com
  port: 8883
  username: virtual
  password: password
  base: devices/1/
