Adafruit-Blinka==8.24.0
adafruit-circuitpython-74hc595==1.4.3
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-charlcd==3.4.9
adafruit-circuitpython-mcp230xx==2.5.12
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.53.0
Adafruit-PureIO==1.1.11
paho-mqtt==1.6.1
pyftdi==0.55.0
pyserial==3.5
pyusb==1.2.1
PyYAML==6.0.1
typing_extensions==4.8.0
